/*
 Defaults
 Leave font-size alone: https://goo.gl/KtKtEi;
 */
body {
    line-height: 1.5;
}


/*
 Images
 Breaks vertical rhythm, but it's fine
 */
img {
    display: block;
    height: auto;
    margin-bottom: 1.875rem;
    max-width: 100%;
}
    img.stretch {
        min-width: 100%;
    }


/*
 Typography

 Modular scale: 20px and 700px at 1.618 (golden ratio)
 http://www.modularscale.com/?20,700&px&1.618&web&text

 Vertical rhythm: 1.25rem (at 16px) * 1.5 = 30px
 Spacing -> 0.9375 (2x), 1.875, 2.8125 (req: margins), 3.75
 */

/* Fix rendering for key elements */
p, h1, h2, h3 {
    text-rendering: optimizeLegibility; 
}

/* Fix line-height */
em, strong {
    line-height: 100%;
}
    /* Same as above, but for inline elements */
    p small, p time, p code {
        line-height: 100%;
    }

p, ul, ol {
    /*
     The REAL base font-size: 20px
    */
    font-size: 1.25rem;
    margin: 0 0 1.875rem;
}

hr {
    background: #EEE;
    border: 0;
    margin: 2.665rem auto;
    height: .295rem;
    width: 50%;
}

blockquote {
    font-style: italic;
    margin: 0 0 1.875rem;
    padding: 0.9375rem 1.875rem;
    position: relative;
}
    blockquote:after {
        content: "";
        border-bottom: 1px solid #0a3039;
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 8.567rem;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

code {
    background: #EEE;
    font-size: 1rem;
    padding: .295rem .478rem;
}
/* Breaks vertical rhythm, but we'll ignore it */
pre {
    border: 1px solid #CCC;

    margin: 0 0 1.875rem;
    padding: 0.9375rem 1.875rem;
}
    pre code {
        background: none;
        padding: 0;
    }

/* Reset headings */
h1, h2, h3, h4, h5, h6 {
    /* Default bold (700) is too overwhelming */
    font-weight: 400;
    margin: 0 0 1.875rem;
}

h1 {
    font-size: 3.272rem;
    font-weight: 300;
    line-height: 3.75rem; /* Convert to no units */
}

h2 {
    font-size: 2.613rem;
    line-height: 3.75rem;
}

h3 {
    font-size: 2.023rem;
    line-height: 3.75rem;
}

h4 {
    font-size: 1.615rem;
    line-height: 1.875rem;
}

h5, time {
    font-size: 1.25rem; /* Base */
    line-height: 1.875rem;
}

h6, small {
    font-size: 0.773rem;
    line-height: 1.875rem;
    text-transform: uppercase;
}

    /*
     Legibility for smaller headings
     Ideally, these should never be used
    */
    h4, h5, h6, small {
        font-weight: 700;
    }


/*
 Layout
 */
.wrapper {
    margin: 0 auto;
    max-width: 46.875rem; /* 750px */
}


/*
 Utilities
 */

.block { position: relative; }
.block:before, .block:after { content: " "; display: table; }
.block:after { clear: both; }
