.footer {
    background: $base-colour;
    padding: $kl-i-2 0;

    .nav-item {
        color: rgba(#FFF, 0.5);
        margin-right: $kl-i-1-2;

        &:hover {
            color: #FFF;
        }
    }
}

.hearts {
    color: #FF5656;
}