.header {
    background: $primary-colour;
    font-family: $sans-serif;
    height: rem(90);
    margin-bottom: $kl-i-2;
    padding: $kl-i-1-2 0;

    .brand {
        padding: $kl-i-1-2 0;
    }

    .nav-item {
        color: rgba(#FFF, .7);
        padding: $kl-i-1-2 0;

        &:hover {
            color: #FFF;
        }
    }

    .current {
        color: #FFF;
    }
}

.brand {
    display: block;
    float: left;
}

.nav-title {
    @include magic-link;

    background: none;
    color: #FFF;

    &:hover {
        color: rgba(#FFF, 0.6);
    }
}