$base-colour: #323038;
$base-colour-inverse: #F8FFF7;
$primary-colour: #FB7973;
$secondary-colour: #475C73;
$base-font-colour: #40403D;

$background-colour: $base-colour-inverse;
$background-colour-even: #FFF;