<article class="article {{ cycle }}">
<div class="wrapper">
    <section class="article-meta block">
        {% if article %}
            <h1 class="article-title"><a href="{{ article.url }}">{{ article.title }}</a></h1>
            {% if article.date %}
            <time class="article-datetime" datetime="{{ article.date }}"><a href="{{ article.url }}">{{ article.date | date_to_long_string }}</a></time>
            {% endif %}
        {% elsif page.is_post %}
            <h1 class="article-title current">{{ page.title }}</h1>
            <small class="article-datetime"><a href="/" class="home"><i class="fa fa-home"></i> Home</a> &mdash; <time datetime="{{ page.date }}">{{ page.date | date_to_long_string }}</time></small>
        {% else %}
            <h1 class="article-title current">{{ page.title }}</h1>
            <small class="article-datetime"><a href="/" class="home"><i class="fa fa-home"></i> Home</a></small>
        {% endif %}
    </section>

    {% if article %}
        {{ article.excerpt }}
        <section class="article-footer block">
            <a href="{{ article.url }}" class="continue">Continue reading &raquo;</a>
        </section>
    {% else %}
        {{ content }}

        {% include share.html %}
    {% endif %}
</div>
</article>