<footer id="footer" class="footer block">
    <div class="wrapper">
        <small class="footer-copyright"><i class="fa fa-copyright"></i> {{ site.time | date: '%Y' }} <a href="/">{{ site.title }}</a></small>
        <ul class="footer-links">
            <li><a href="/feed"><i class="fa fa-rss"></i></a></li>
            <li><a href="{{ site.social.behance }}"><i class="fa fa-behance"></i></a></li>
            <li><a href="{{ site.social.dribbble }}"><i class="fa fa-dribbble"></i></a></li>
            <li><a href="{{ site.social.github }}"><i class="fa fa-github-alt"></i></a></li>
            <li><a href="{{ site.social.twitter }}"><i class="fa fa-twitter"></i></a></li>
        </ul>
    </div>
</footer>

{% include analytics.html %}
</body>
</html>