<footer class="footer block">
    <div class="wrapper">
        <div class="brand">
            <a href="/" class="nav-title">Handcrafted with <span class="hearts">&#10084;</span> by Ian</a>
        </div>
        <nav class="nav">
            <a href="/feed" class="nav-item" title="RSS Feed"><i class="fa fa-rss"></i></a>
            {% for link in site.social %}
                <a href="{{ link[1] }}" class="nav-item"><i class="fa fa-{{ link[0] }}" title="{{ link[0] | capitalize }}"></i></a>
            {% endfor %}
        </nav>
    </div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
<script>
WebFont.load({
    google: {
        families: [
            "Nunito:300,400,700",
            "Lora:400,400italic,700,700italic",
            "Source Code Pro"
        ]
    }
});
</script>

{% include analytics.html %}
</body>
</html>