<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {% if paginator.page > 1 %}
        {% capture current_title %}Blog &mdash; Page {{ paginator.page }} &#124; {% endcapture %}
    {% elsif page.title %}
        {% capture current_title %}{{ page.title }} &#124; {% endcapture %}
    {% endif %}
    {% if page.is_home %}
        {% assign current_description = site.description %}
        {% assign current_type = "website" %}
    {% else %}
        {% assign current_description = page.description %}
        {% assign current_type = "article" %}
    {% endif %}
    <title>{{ current_title }}{{ site.title }}</title>
    <meta name="description" content="{{ current_description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Open Graph -->
    <meta property="og:locale" content="en_GB">
    <meta property="og:type" content="{{ current_type }}">
    <meta property="og:title" content="{{ current_title }}{{ site.title }}">
    <meta property="og:description" content="{{ current_description }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:image" content="{{ site.url }}{{ page.thumbnail }}">

    <link href="{{ site.url }}/humans.txt" type="text/plain" rel="author">
    <link href="{{ site.url }}/feed" type="application/atom+xml" rel="alternate" title="Feed &#124; {{ site.title }}">
    <link href="/favicon.png" rel="shortcut icon">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/fontawesome/4.4.0/css/font-awesome.min.css">

    {% if page.has_code %}<link rel="stylesheet" href="/css/highlight.css">{% endif %}
    <link rel="stylesheet" href="/css/style.un.css">
</head>

<body>

<header class="header block">
    <div class="wrapper">
        <div class="brand">
            <a href="/" class="nav-title">{{ site.title }}</a>
        </div>

        <nav class="nav" role="navigation">
            <a href="/about" class="nav-item {% if page.title == "About" %}current{% endif %}">About</a>
            <a href="/hello" class="nav-item {% if page.title == "Contact" %}current{% endif %}">Contact</a>
        </nav>
    </div>
</header>