<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ page.title }}{% if page.url != "/index.html" %} &#124; {{ site.title }}{% endif %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<link rel="stylesheet" href="http://basehold.it/30">-->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:300,400,700|Merriweather:400,400italic,700,700italic|Source+Code+Pro">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/fontawesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/civil.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<!-- Header -->
<header class="header block">
    <div class="wrapper">
        <!--  'Branding' -->
        <div class="logo"><a href="/">Ian Lai</a></div>
        <!-- Navigation -->
        <nav class="navbar">
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>