{% if paginator.total_pages > 1 or page.is_post %}
<div class="paginator block">
    {% if page.is_post %}
        {% if page.next %}
            <a href="{{ page.next.url }}" class="next next-post {% if page.previous == null %}last{% endif %}" title="{{ page.next.title }}">{{ page.next.title | truncate: 35, '...' }}</a>
        {% endif %}
        {% if page.previous %}
            <a href="{{ page.previous.url }}" class="prev prev-post" title="{{ page.previous.title }}">{{ page.previous.title | truncate: 50, '...' }}</a>
        {% endif %}
    {% else %}
        {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="next {% if paginator.next_page == null %}last{% endif %}">&larr; Newer posts</a>
        {% endif %}
        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="prev">Older posts &rarr;</a>
        {% endif %}
    {% endif %}
</div>
{% endif %}