/*
 Reference:
   0.9375 (2x), 1.875, 2.8125 (req: margins), 3.75;
 */

$body-font: 'Merriweather', serif;
$heading-font: 'Nunito', sans-serif;

$primary-color: #FB7973;

$kli-1: 0.9375rem;
$kli-2: 1.875rem; /* Base 30px */
$kli-3: 2.8125rem;
$kli-4: 3.75rem;

body {
    background: #FAFAFA;
    color: #40403D;
}
