/*
 Reference:
   0.9375 (2x), 1.875, 2.8125 (req: margins), 3.75;
 */

$body-font: 'Merriweather', serif;
$heading-font: 'Nunito', sans-serif;


body {
    background: #FAFAFA;
    color: #40403D;
}
