.form-inputs {
    list-style: none;
    padding: 0;

    > li {
        margin-bottom: $kl-i-1;
    }

    .input-label, .input-text {
        display: block;
        line-height: $kl-i-1;
        width: 100%;
    }

    .input-text {
        border: 1px solid $grey-light-colour;
        margin: $kl-i-1-2 0;
        padding: $kl-i-1-2;
    }

    .input-hint {
        color: #A4A69F;
        display: block;
    }

    .input-button {
        background: none;
        border: 1px solid $primary-colour;
        color: $primary-colour;
        font-family: $sans-serif;
        font-size: 0.773rem;
        display: block;
        margin: $kl-i-1 0;
        padding: $kl-i-1-2;
        text-transform: uppercase;

        &:hover, &:focus {
            background: $primary-colour;
            color: $light-colour;
        }
    }
}