.header {
    background: $primary-colour;
    font-family: $heading-font;
    margin-bottom: $kl-i-2;
    padding: $kl-i-1;

    a {
        color: $light-colour;
        text-decoration: none;

        &:hover {
            border-bottom: 2px solid $light-colour;
        }
    }

    .logo {
        float: left;
        font-size: 1.25rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    /* Navigation */
    .navbar {
        float: right;

        > ul {
            list-style: none;
            margin: 0;
            padding: 0;

            > li {
                display: inline-block;
                margin: 0 $kl-i-1-2;
            }
        }
    }
}