.header {
    background: #FB7973;
    font-family: $heading-font;
    margin-bottom: 3.75rem;
    padding: 1.875rem;

    a {
        color: #FCFCFC;
        text-decoration: none;

        &:hover {
            border-bottom: 2px solid #FFF;
        }
    }

    .logo {
        float: left;
        font-size: 1.25rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    /* Navigation */
    .navbar {
        float: right;

        > ul {
            list-style: none;
            margin: 0;

            > li {
                display: inline-block;
                margin: 0 .9375rem;
            }
        }
    }
}