.header {
    background: $primary-color;
    font-family: $heading-font;
    margin-bottom: $kli-4;
    padding: $kli-2;

    a {
        color: #FCFCFC;
        text-decoration: none;

        &:hover {
            border-bottom: 2px solid #FFF;
        }
    }

    .logo {
        float: left;
        font-size: 1.25rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    /* Navigation */
    .navbar {
        float: right;

        > ul {
            list-style: none;
            margin: 0;

            > li {
                display: inline-block;
                margin: 0 $kli-1;
            }
        }
    }
}