/*
 Small screen sizes
 */
@media only screen and (max-width: $base-content-width) {
    html {
        font-size: 80%;
    }

    .wrapper {
        margin: 0 1.615rem;
        width: auto;
    }

    .header {
        .logo, .navbar {
            float: none;
            text-align: center;
            width: 100%;
        }
    }
}