.paginator {
    padding: $kli-4 0;

    > .wrapper {
        border-top: 1px solid #D9D9D9;
    }

    .next, .prev {
        color: #373B44;
        display: inline-block;
        float: left;
        padding: $kli-2 0;
        width: 50%;
    }
    .prev {
        float: right;
        text-align: right;
    }
}