// Modified from original civil.css
$base-content-width: 46.875rem; // 700px
$base-font-size: 1.25rem; // 20px
$base-line-height: 1.5;

// Keyline increments are used for establishing vertical rhythm
$base-keyline-increment: $base-font-size * $base-line-height;
$kl-i-1-2: $base-keyline-increment / 2;
$kl-i-1: $base-keyline-increment;
$kl-i-3-2: $kl-i-1-2 * 3;
$kl-i-2: $base-keyline-increment * 2;

// Default theme
$sans-serif: "Nunito", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;

$base-font-colour: #40403D;
$primary-colour: #FB7973;
$secondary-colour: #373B44;

$grey-light-colour: #CCC;
$grey-lighter-colour: #EEE;
